{% extends '@theme_base/style.css.twig' %}

{% block theme_name        'clean' %}
{% block theme_description 'simple and minimalistic' %}
{% block theme_updated_at  '2/october/2012' %}

{# ==========================================================================
   @typography
   ========================================================================== #}
{% block body %}
{{ parent() }}

body {
    font-family: neuton, serif;
    font-weight: 300;
}
{% endblock %}

{% block headings %}
{{ parent() }}

h1, h2, h3, h4, h5, h6 {
    font-family: tex-heros, sans-serif;
    font-weight: 700;
    line-height: 1;
*   margin: 12pt 0 3pt; 
}
{% endblock %}

{% block code %}
{{ parent() }}

code, pre {
    font-family: inconsolata, monospace;
    font-size: 13pt;
}
pre {
    font-size: 12pt;
    line-height: 1.3;
}

pre code {
    background-color: transparent;
    border: none;
    color: {{ color_black }};
    padding: 0;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font: inherit;
}

div.cli pre {
    padding: .5em;
}
{% endblock %}

{# ==========================================================================
   @tables
   ========================================================================== #}
{% block tables %}
{{ parent() }}

div.table {
    width: 100%;
}
table {
    margin-bottom: 1em;
    width: 100% !important;
}
table thead {
    border-bottom: 2px solid {{ color_gray }};
}
table th, table td {
    padding: .2em .3em;
    line-height: 1.4;
    text-align: left;
}
table th {
    font: 700 10pt tex-heros, sans-serif;
    vertical-align: bottom;
}
table td {
    border-bottom: 1px solid {{ color_silver }};
    vertical-align: top;
}
table tr:last-child td {
    border-bottom: 0;
}
table thead th + th,
table tbody th + td,
table td + td {
    border-left: 1px solid {{ color_silver }};
}
table tbody + tbody {
    border-top: 2px solid {{ color_gray }};
}
table p, table ul, table ol, table code {
    font-size: 12pt;
}
{% endblock %}

{# ==========================================================================
   @items
   ========================================================================== #}
{% block title %}
{{ parent() }}
.item.title h1,
.item.title h2,
.item.title h3 {
    font-weight: normal;
    text-align: center;
}
.item.title h1 {
    font-size: 28pt;
    hyphens: none;
    line-height: 1.1;
    margin: 5em 4em 0;
    text-align: center;
}
.item.title h2 {
    font-size: 21pt;
    margin-top: .5em;
}
.item.title h3 {
    font-size: 18pt;
    font-style: italic;
    margin-top: 1em;
}
{% endblock %}

{% block part %}
{{ parent() }}

.item.part h1 {
    font-size: 36pt;
    margin-top: 5em;
    padding: 1em 0;
    text-align: left;
}
.item.part h1 span {
    color: {{ color_black }};
    display: block;
    font-size: 24pt;
    font-weight: normal;
    margin: .5em 0;
}
{% endblock %}

{% block appendix %}
{{ parent() }}

.item.appendix h1 {
    color: {{ color_black }};
    font-size: 36pt;
    hyphens: none;
    margin: 5em 1em .25em 0;
    text-align: left;
}
.item.appendix h2 { font-size: 18pt; }
.item.appendix h3 { font-size: 16pt; }
.item.appendix h4 { font-size: 14pt; }
.item.appendix h5 { font-size: 14pt; }
.item.appendix h6 { font-size: 14pt; }

.item.appendix h1 + h2,
.item.appendix h2 + h3,
.item.appendix h3 + h4,
.item.appendix h4 + h5,
.item.appendix h5 + h6 {
    margin-top: 1em;
}

.item.appendix h1 span {
    color: {{ color_gray }};
    display: block;
    font-size: 21pt;
    font-weight: normal;
    margin-bottom: .25em;
}
{% endblock %}

{% block chapter %}
{{ parent() }}

.item.chapter h1 {
    color: {{ color_black }};
    font-size: 28pt;
    hyphens: none;
    font-weight:normal;
    margin:0 1em .25em 0;
    text-align: left;
}
.item.chapter h2 { font-size: 18pt; }
.item.chapter h3 { font-size: 16pt; }
.item.chapter h4 { font-size: 14pt; }
.item.chapter h5 { font-size: 14pt; }
.item.chapter h6 { font-size: 14pt; }

.item.chapter h1 + h2,
.item.chapter h2 + h3,
.item.chapter h3 + h4,
.item.chapter h4 + h5,
.item.chapter h5 + h6 {
    margin-top: 1em;
}

.item.chapter h1 span {
    color: {{ color_gray }};
    display: block;
    font-size: 18pt;
    font-weight: normal;
    margin-bottom: .25em;
}


/* My things */
.section-wrapper {
    width:100%;
    height:auto;
    min-height:2in;
    margin-bottom:0.3in;
    border-color:#fff !important;
}

.section-wrapper .content{
    width:40%
    border:0;
}

.section-wrapper .image{
    width:60%;
    border:0;
    text-align:center;
}

.section-wrapper .image img{
    width:70%;
    margin:0 .125in;
}
pre  {
    background: #ccc;
    border-radius:3pt;
}
{% endblock %}
